.photo {
  text-align: center;
  margin: auto;
  height: 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
  height: 250px;
}

#cat {
  margin-top: 2%;
}

.col-md-6 {
  height: 100%;
  padding: 2%;
}

h4 {
  text-align: center;
}

.center-align {
  display: block;
  text-align: center;
  margin: auto;
}
